<?xml version="1.0"?>
<!--
/**
 * Supun Sadeepa
 * Magento 2.x DirectPay_IPG plugin
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/config.xsd">

    <type name="Magento\Checkout\Model\CompositeConfigProvider">
        <arguments>
            <argument name="configProviders" xsi:type="array">
                <item name="directpay_custom_data" xsi:type="object">DirectPay\Directpay\Model\Config\DPConfigData</item>
            </argument>
        </arguments>
    </type>

</config>
